/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

p-autoComplete {
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

:host ::ng-deep .p-autocomplete-input {
    color: red;
}

.auto-input {
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.p-inputtext:enabled:focus {
    box-shadow: none;
}

.auto-panel {
    color: red;
    width: 300px;
}

.username {
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
}

.full-name {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 14px;
}

.user-thumbnail {
    width:32px;
    display:inline-block;
    margin:5px 10px 2px 5px;
    border-radius: 50%;
}

.autocomplete-user {
    float:right;
    margin:10px 10px 0 0
}